.searchInputDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  //z-index: 1;
  position: relative;
}

.searchResultDiv {
  position: absolute;
  width: 100%;
  display: block;
  z-index: 1;
  background-color: #ededed;
  border-radius: 10px;
  overflow: hidden;
}

.clientInfo {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 5%;
  min-height: 30px;
  //background-color: #ededed;
  cursor: pointer;
}

.clientInfo:hover {
  background-color: #91d5e7;
}

.searchResultDivHidden {
  color: red;
  display: none;
}

.clientInfo span {
  margin: 2px;
}
