

.headerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.contentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 11vh;
    width: 100%;
}

.contentHeader div {
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #0a53a8;*/
    height: 100%;
    width: 33%;
}

.logoDiv{
    /*background-repeat: no-repeat;*/
    /*background-image: url("../../../public/logo192.png");*/
}

.menuHeader {
    height: 100%;
    width: 100%;
}
