.visitsContainer {
    max-width: 1130px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.visitsContent {
    display: flex;
    height: 100%;
    width: 30%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calendardiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 70%;
    margin:0 5px 0 5px;
}

.createVisit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 40%;
    width: 100%;
    padding: 10px;
}

.visitsList{
    display: flex;
    align-items: center;
    height: 60%;
    width: 100%;
    background-color: #0a53a8;
}

.datePickerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.createVisit input {
    text-align: center;
    min-height: 35px;
    border: 1px solid #a1e3d2;
    box-shadow: 1px 1px 1px 1px #5a5c5e, 5px 2px 3px 1px #9fa0a1;
    transition: all 0.8s ease 0s;
    border-radius: 6px;
    width: 100%;
    margin:10px 0;
}



